.benchnine-light {
    font-family: "BenchNine", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.benchnine-regular {
    font-family: "BenchNine", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.benchnine-bold {
    font-family: "BenchNine", sans-serif;
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: "BenchNine", sans-serif;
}

body {
    background: #fdfce0;
}

a {
    color: black;
}

#page-title {
    text-decoration: none;
}

h1 {
    font-size: xxx-large;
}

.about-us-container {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
}

.about-us-text {
    font-size: x-large;
    text-align: left;
    background: #80c878;
    padding: 6px;
    border-radius: 5px;
    text-align: center;
}

.texture-break {
    height: 20px;
    margin: 0;
}

nav {
    background: #f4eec9;
    border-top: 1px solid #54844f;
    border-bottom: 1px solid #54844f;
}

.nav-link {
    font-size: xx-large;
    font-family: "BenchNine", sans-serif;
    color: #54844f;
}

.underline {
    text-decoration: underline;
}

.booking-form {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.booking-h1 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.booking-form-submit {
    background: #54844f;
    border: none;
    padding: 10px 20px;
    font-size: x-large;
    color: white;
    border-radius: 5px;
}

